*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
    height: 4.5rem;
    align-items: center;
    padding: 2rem;
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.1);
}

.header__left{
    display: flex;
}

.left__menu-icon{
    width: 1.6rem;
    margin-right: 1rem;
}

.header__center{
    background-color: #F1F3F4;
    flex: 0.8;
    min-width:30rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-right:25rem;
}
.center__input{
    border: none;
    background-color: #F1F3F4;
    width: 95%;
    margin-left: 0.6rem;
    font-size: 1rem;
}

.header__right{
   display: flex;
   align-items: center;
}

.header__right > svg {
    margin-right: 1rem;
}

.right__user-icon{
    border-radius: 50%;
}